.content-aplicar
    margin-top 60px
    width 100%
    margin-bottom 25px
    
    .title
        color #e67e22
        text-align center
        font-size 3em
        margin 25px auto

    .col
        align-items flex-start
        display flex
        justify-content flex-start
        flex-direction row

        .row
            align-items center
            display flex
            flex-direction column
            justify-content center
            width 50%

            img
                margin 10px 0px
                border 2px solid rgba(50, 50, 50, 0.3)
                max-width 100%
            .content-button
                margin 20px 0
                text-align center
                width 100%

                button
                    background-color #d8e43c
                    border none
                    font-size 1em
                    padding 15px
                    margin-top 20px
                    color #4d4d4d
                    // text-transform uppercase
                    min-width 150px
                    font-weight bold
                    outline 0
                    border-radius 5px

            &.info 
                padding 0 20px
                align-items flex-start !important
                p
                    margin 10px 0
                    text-align left

                    b
                        font-size 1.2em

                    a
                        color #0e109a
                        font-size 1.2em
                        font-weight bold

                ul
                    li
                        // list-style none
                        margin 10px
                        padding-left 5px
            &.line
                flex 1
                .table
                    display flex
                    justify-content space-between                    
                    flex-direction row

                    .time-line
                        display flex
                        flex-direction column
                        justify-content space-between
                        oveflow visible
                        .item
                            align-items center
                            color #6d6d6d
                            background-color #FFF
                            border 2px solid #6d6d6d
                            border-radius 50%
                            // font-weight bold
                            font-size 1.5em
                            height 50px
                            display flex
                            justify-content center
                            transition all 0.2s ease
                            width 50px

                            &.success
                                background-color #2ecc71 !important
                                color #FFF
                    
                    .sub-content
                        display flex
                        flex-direction column
                        justify-content space-between
                        margin-left 25px
                        min-height 50vh

                        .sub-row
                            display flex 
                            flex-direction column
                            justify-content flex-end

                            span
                                margin-bottom 5px

                        select
                            border 1px solid #CCC
                            border-radius 5px
                            outline none
                            padding 8px
                
@media (max-width: 1224px)
    .content-aplicar
        margin-top 0 !important

        .col
            flex-direction column !important

            .row
                width 100% !important

                &.info 
                    p
                        width 100% !important
                &.line
                    flex 1
                    .table
                        flex-direction column !important
                        padding-left 5vw !important
                        padding-right 5vw !important
                        margin-bottom 30px
                        max-width 100% !important
                        .time-line
                            display none !important                        
                        .sub-content
                            margin-left 0px !important