.content-blog
    min-height 50vh
    display flex
    flex-direction row
    margin 10px 0px
    justify-content space-evenly
    flex-wrap wrap
    align-items center

    .card-item
        border-radius 5px
        box-shadow 0px 10px 25px 0px rgba(50, 50, 50, 0.6)
        overflow hidden
        width 400px

        img 
            max-width 100%

        .footer 
            padding 10px

            .title
                color #4d4d4d
                font-size 2em
                margin 10px 0
            
            p
            color #CCC


    .preloader
        margin 50px auto

    .no-blog
        color #CCC
        margin 100px auto
        text-align center