@keyframes fadeIn
    0%
        opacity 0
    100%
        opacity 1

.content-nosotros
    padding-top 80px

    h2
        font-style 3em
        color #535c68
        text-align center
        margin 10px 0

    p
        margin 30px auto
        text-align center
        font-size 1.3em
        width 80%


    .grid
        align-items center
        display flex
        justify-content center
        flex-wrap wrap
        width 100%

        .item
            background-position center
            background-repeat no-repeat
            width 33.33%
            height 500px
            // margin 10px 0
            cursor pointer
            // border-radius 5px
            transition all 0.2s ease !important

            &:hover
                // transform scale(1.05)
                opacity 0.8
                // background-size 250%
                // filter blur(20px)
                // overflow hidden
                // box-shadow 0px 15px 50px 0px rgba(0, 0, 0, 0.5)

    .modal
        align-items center
        background-color rgba(50, 50, 50, 0.8)
        opacity 1
        position fixed
        display flex
        justify-content center
        height 100vh
        top 0
        animation fadeIn 0.5s
        left 0
        right 0
        bottom 0
        width 100vw
        z-index 5000

        .close-modal
            // background-color rgba(50, 50, 50, 0.8)
            background-image url('../../img/close.svg')
            background-image center
            background-position center
            background-size 50%
            background-repeat no-repeat
            border-radius 50%
            cursor pointer
            right 50px
            position fixed
            top 50px

            height 50px
            width 50px

        img
            border-radius 10px
            border 15px solid rgba(250, 250, 250, 0.8)
            max-width 80%
            max-height 95vh

@media (max-width: 1224px)
        // flex-direction column !important
        // flex-wrap wrap

        p
            text-align justify !important
            width 90% !important

        .grid

            .item
                width 100% !important

                transition none !important

                &:hover
                    transform none !important
                    box-shadow none !important