@import './input.styl'

.content-contacto
    overflow hidden !important
    position absolute
    top 0
    left 0px
    bottom 0px
    right 0px
    padding-top 50px
    .map
        height 100vh
        width 100vw

        iframe
            transition all 0.5s ease
            height 100%
            width 100%
        .content-map
            align-items center
            background-color rgba(52, 73, 94, 0.8)
            transition all 0.5s ease
            font-weight bold
            padding-top 25px
            color #FFF
            display flex
            flex-direction column
            position absolute
            top 50px
            left 0px
            right 0px
            bottom 0px
            justify-content flex-start
            z-index 50


            &.fade
                opacity 0

            .subtitle
                font-size 2.5em
                width 80%
                text-align center
        
        &.blur
            iframe 
                -webkit-filter blur(5px)

    .formulario
        background-color #FFF
        border-radius 5px
        position absolute
        height 70vh
        left 5%
        right 5%
        transition all 0.5s ease
        padding 5%
        top 40%
        z-index 100
        .content-float
            width 100%
            display flex
            justify-content flex-end
        
            .float-button
                align-items center
                border-radius 50%
                background-color #FFF
                box-shadow 0px 10px 25px 0px rgba(50, 50, 50, 0.8)
                cursor pointer
                position absolute
                height 80px
                width 80px
                display flex
                justify-content center
                margin-top -100px
                z-index 150
                img
                    max-width 50%
        .sub-content
            align-items flex-start
            display flex
            flex-direction row
            justify-content space-between

            .g-recaptcha
                margin-bottom 1em
                div
                    margin auto

        &.active
            box-shadow 0px 0px 25px 0px rgba(0, 0, 0, 0.8)
            top 90%

        .row
            width 40%


            .col
                display flex
                justify-content space-between
                margin-bottom 25px

                textarea
                    @extends .input-text
                    width 100%
                    resize none


                button
                    background none
                    border 2px solid #1abc9c
                    color #1abc9c
                    outline none
                    border-radius 25px
                    font-weight bold
                    font-size 1.2em
                    padding 10px 0
                    width 100%

                &.full
                    width 100% !important
                    justify-content center


                &.block
                    flex-direction column !important

                    .header
                        color #5d5d5d
                        font-size 1.5em
                        font-weight bold

                &.social
                    justify-content flex-end

                    a        
                        margin 0 5px
                        background-position center
                        background-repeat no-repeat
                        background-size 100%
                        transition all 0.2 ease
                        opacity 0.5
                        height 2em
                        width 2em
                        
                        &.facebook
                            background-image url('../../img/facebook-logo.svg')                        
                        
                        &.instagram
                            background-image url('../../img/instagram-logo.svg')
                        
                        &:hover
                            opacity 1


@media (max-width: 1224px)
    .content-contacto
        overflow hidden !important
        position inherit
        top inherit !important
        left inherit !important
        bottom inherit !important
        right inherit !important
        padding-top 0 !important
        display flex
        flex-direction column

        .map
            width 100vw
            height 35vh

            iframe
                filter none !important

            .content-map
                display none !important
        
        .formulario
            position inherit !important
            height inherit !important
            left inherit !important
            right inherit !important
            transition all 0.5s ease
            padding 5% 10px
            top inherit !important
            z-index inherit !important

            .sub-content
                flex-direction column !important
            .row
                width 100% !important

                &:first-child
                    margin-bottom 5vh

                &:last-child
                    margin-bottom 5vh

                    .col
                        margin-bottom 20px !important

                .col
                    flex-direction column
                    margin 0 !important

                     &.facebook
                        justify-content flex-end !important

                    input,
                    textarea
                        margin-bottom 20px