footer 
    background-color #ECF0F1
    border-top 2px solid #CCC
    color #515457
    display flex
    justify-content strech
    width 100%

    .row
        padding 1em
        .title
            color #535c68 !important
            font-size 2em
            margin 10px 0
            display flex
            align-items center

            
            a
                margin-left 10px
                background-position center
                background-repeat no-repeat
                background-size 100%
                transition all 0.2 ease
                opacity 0.5
                height 1em
                width 1em

                &.facebook
                    background-image url('../../img/facebook-logo.svg')

                &.instagram
                    background-image url('../../img/instagram-logo.svg')

                &:hover
                    opacity 1

        p
            width 80%
            margin 10px 0
        
        img
            width 120px

        .menu-footer
            margin 20px 0

        &.content
            width 70%
        
        &.content-logo
            width 30%
            display flex
            align-items center
            justify-content center

@media (max-width: 1224px)
    footer
        flex-direction column

        .row
            justify-content center
            width 100% !important

            p
                width 100% !important