.content-historia
    align-items center
    display flex
    flex-direction column
    justify-content space-evenly
    padding-top 50px
    min-height 100vh

    h2
        color #535c68
        font-style 4em
        margin 25px 0
        text-align center
        width 100%

    .contenido-historia
        align-items stretch
        display flex
        flex-direction row
        justify-content space-evenly
        .bloque
            display flex
            flex-direction column
            align-items center
            justify-content space-between
            width 40%
            .info
                width 90%
                h3
                    color #3d3d3d
                    margin 20px 0
                    font-size 2em
                    font-weight bold

                p
                    color #4d4d4d
                    margin 10px 0

    img
        width 40%

@media (max-width: 1224px)
    .content-historia
        .contenido-historia
            flex-direction column !important 
            .bloque
                width 100% !important 
            .info
                p
                    column-count 1
                    width 100% !important
                    margin-bottom 20px
