.content-inicio
    align-items center
    background-image url('../../img/motivation.svg')
    background-position center 120%
    background-repeat no-repeat
    padding 10% 0
    background-size 25%
    flex-direction column
    min-height 100vh
    display flex

    .logo-main
        max-width 250px

    h1
        &.title-main
            color #3d3d3d
            font-weight bold
            font-size 2.5em
    h2
        &.sub-title
            text-align center
            color #717171
            margin-bottom 50px


    .bloque
        // border-bottom 5px dotted #CCC
        display flex
        flex-direction row
        padding 20px 0
        width 90%

        .row
            display flex
            flex-direction column
            justify-content center
            width 50%
            .title
                margin 25px 0
                
                h2
                    color #273c75
                    font-weight bold

                .line
                    border-top 2px solid #dcdde1
                    margin-top 20px
                    width 70px
            p
                color #353b48
                margin 10px 0

            img
                width 256px

            &.right
                	align-items flex-end
            &.left
                	align-items flex-start
    .sub-baner
        background-image url('../../img/deploy.svg')
        background-repeat no-repeat
        background-position center bottom
        background-attachment fixed
        margin 20px 0
        height 50vh
        width 100%

        .content-baner
            align-items center
            background-color rgba(50, 50, 50, 0.8)
            color color
            font-weight bold
            color rgba(250, 250, 250, 0.8)
            text-shadow 0px 0px 25px rgba(50, 50, 50, 0.8)
            display flex
            flex-direction column
            justify-content space-evenly
            width 100%
            height 100%

            .title-baner
                font-size 2.5em
            .sub-title-baner
                font-size 1.5em
                text-align center
                width 90%
@media (max-width: 1224px)
    .title-main
        text-align center
    .bloque
        // border-bottom 5px dotted #CCC
        flex-direction column !important
        width 100% !important

        .row
            flex-direction column !important
            width 100% !important
            padding 20px 10px !important

            &.right
                	align-items center !important
            &.left
                	align-items center !important
            p
                margin 10px auto !important
        .sub-baner
            background-size cover

    .sub-baner
        background none !important
        height auto !important

        .content-baner
            background-color #4d4d4d
            padding 10px 0
            .title-baner
                font-size 2em !important
                text-align center !important

            .sub-title-baner
                font-size 1em !important
                text-align center !important
                font-weight normal !important
                text-align justify !important
                width 90% !important