.loader-content {
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    justify-content: center;
    z-index: 1000;
}

.loader-content .loader1{
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 80px;
    border: 5px solid  rgba(255,255,255, .7);
    
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-animation: loader1 1s linear infinite;
			animation: loader1 1s linear infinite;
}

.loader-content .loader1:after{
	content: "";
	position: absolute;
	top: -8px;
	left: 20px;
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background-color: #fff;
}

@-webkit-keyframes loader1{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader1{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}