$scale = 250px

@media (max-width: 1224px)
    .content
        height 150px !important
        width 150px !important

.container-logo
    width 100%
    display flex
    justify-content center
    .content
        align-items center
        box-shadow 0px 10px 50px 0px rgba(50, 50, 50, 0.5)
        background-image url('../../img/logo.png')
        background-position center
        background-size 60%
        background-repeat no-repeat
        background-color #FFF
        border 5px solid rgba(50, 50, 50, 0.2)
        display flex
        justify-content center
        border-radius 50%
        width $scale
        height $scale
        overflow visible