@import 'font'

* 
    margin 0
    padding 0
    box-sizing border-box
    font-family Geometria

b
    color #3d3d3d !important

body
    overflow-x hidden

@media (max-width: 1224px)
    body
        padding-top 50px