$color_hover = rgba(53, 59, 72, 0.2)


.menu-main
    background-color rgba(245, 246, 250, 0.95)
    border-bottom 1px solid #CCC
    // box-shadow 10px 0 25px 0 rgba(50, 50, 50, 0.8)
    display flex
    position fixed
    top 0
    legt 0
    right 0
    height 50px
    flex-direction row
    justify-content space-evenly
    // border-bottom 3px solid #2c3e50
    align-items center
    width 100vw
    z-index 1000

    a
        color #353B48
        font-weight bold
        text-decoration none
        transition all 0.1s ease
        outline none
        padding 15px
        &.especial
            background-color #f1c40f !important
            color #34495e
            &:hover
                background-color #f1c40f !important
        &.active
            background-color $color_hover
        &:hover
            background-color $color_hover

.menu-footer
    background-color transparent
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    width 100%

    a
        color #2d2d2d
        text-decoration none
        outline none
        border-radius 25px
        transition all 0.2s ease
        padding 5px 10px
        margin 0 5px
        &.active
            background-color rgba(52, 73, 94, 0.1)
        &:hover
            background-color rgba(52, 73, 94, 0.1)
.menu-mobile
    background-color #2a2a2a
    // box-shadow 0 10px 50px 5px rgba(50, 50, 50, 0.8)
    border-bottom 5px solid #7d7d7d
    overflow hidden
    position fixed
    height 60px
    top 0
    left 0
    right 0
    width 100vw
    z-index 1000

    &.active
        height 100vh
        border-color transparent

    .icon-menu
        position absolute
        left 10px
        top 5px
        width 40px

        .item
            border-top 3px solid #FFF
            transition all 0.2s ease
            margin 10px 0
            width 100%

        &.active
            .first
                transform rotate(-45deg) translateY(5px) translateX(-5px)
            .last
                transform rotate(45deg) translateY(-5px) translateX(-5px)

    .content-logo
        display flex
        justify-content center
        align-items center
        width 100%

        img
            max-width 50px
    ul  
        margin-top 10px
        width 100%
        li
            border-bottom 1px solid #CCC
            padding 10px 0
            text-align center
            &.active
                background-color rgba(250, 250, 250, 0.2)
            a
                text-decoration none
                color #FFF
                font-size 2em