@keyframes slidy 
    0% 
        left 0%
    20% 
        left 0%
    25% 
        left -100%
    50% 
        left -100%
    55%
        left -200%
    70%
        left -200%
    75%
        left -300%
    95%
        left -300% 
    10%
        left 0%

.slider-menu
    overflow hidden
    width 100vw

    .arrows
        position absolute
        top 25vw
        left 0
        right 0
        width 100%

        display flex
        flex-direction row
        justify-content space-between
        z-index 100

        img
            background-color rgba(50, 50, 50, 0.5)
            // padding 0
            cursor pointer
            opacity 0.8
            width 50px
    
    figure
        position relative
        width 500%
        margin 0
        left 0
        text-align left
        font-size 0
        transition all 0.5s ease
        // animation 20s slidy infinite 
        img
            float left
            width 20%
    // border-bottom 2px solid #CCC

@media (max-width: 1224px)
    .slider-menu
        .arrows
            max-height 15vh
